/* ===== Reset CSS ===== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==============================
   Segoe UI Font Family
============================== */

@font-face {
    font-family: "Segoe UI";
    src: url("../font/segoeui.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../font/segoeuii.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/segoeuil.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/seguisl.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/seguisb.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/segoeuib.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/segoeuiz.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI";
    src: url("./font/seguisb.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* ===== Common CSS ===== */

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    background-color: #FBF6EF;
}

.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
}

p {
    line-height: 1.7;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

input,
textarea {
    border: none;
    outline: none;
}

.d-flex {
    display: flex;
}

.common_btn {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    background-color: #E9B44C;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.common_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(241, 114, 40, 0.3);
}

/*=================
nav styling 
 =================*/
nav {
    background-color: #2E2622;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}

.nav_inner {
    justify-content: space-between;
    align-items: center;
}

.nav_inner h1 {
    color: #E9B44C;
    margin-left: 10px;
    font-size: 40px;
}

.nav_manu {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav_manu a {
    color: #FBF6EF;
    transition: all 0.3s ease;
}

.nav_manu a:hover {
    color: #959492;
}

/*=========================== 
hero styling
==========================*/
.hero {
    background-image: linear-gradient(rgba(20, 15, 12, 0.55)0%, rgba(20, 15, 12, 0.65) 100%), url(./image/bg-image.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: grid;
    align-items: center;
}

.hero_contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero_contant h2 {
    color: #FBF6EF;
    font-size: 50px;
    font-weight: bold;
    width: 700px;
    text-align: center;
}

.hero_contant p:first-child {
    color: #E9B44C;
}

.hero_contant p:last-of-type {
    color: #F0E9DD;
    width: 500px;
    text-align: center;
}

.hero_btn {
    margin-top: 30px;
}

.hero_btn .common_btn {
    border-radius: 50px !important;
    color: #2E2622 !important;
    font-weight: bold;
}

/* =================
 story section styling
================ */
.story_section_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.story_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.story_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.story_text h2 {
    font-size: 40px;
    font-weight: bold;
    color: #2E2622;
}

.story_text p {
    color: #5A4F47;
}

.story_btton .common_btn {
    border-radius: 50px;
    color: #2E2622;
    font-weight: bold;
}

/* ===============OUR MENU section================ */

.Popular_picks {
    background-color: #F1E7D8;
}

.popular_innar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 0;

}

.popular_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.popular_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_heading p {
    color: #E9B44C;
}

.popular_heading h2 {
    color: #2E2622;
    font-size: 40px;

}

.card {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
     transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(122, 111, 99, 0.12);
}
.card:hover {
   transform: translateY(-8px);
    box-shadow: 0 16px 30px rgba(122, 111, 99, 0.28);
}

.card h3 {
    margin-top: 30px;
    color: #2E2622;
    font-size: 25px;
    font-weight: bold;
}

.card p:first-of-type {
    color: #2E2622;
    font-weight: 500;
    line-height: 1.6;
    width: 250px;
    text-align: center;
}

.card p:last-of-type {
    color: #E9B44C;
    font-weight: bold;
}


/* =============Why Us Section============== */
.why_us_section {
    background-color: #FFFFFF;
}

.why_us_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_us_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_us_heading p {
    color: #E9B44C;
    text-transform: capitalize;
}

.why_us_heading h2 {
    margin-top: 10px;
    color: #2E2622;
    font-size: 40px;
}

.why_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2622;
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.why_icon img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.why_us_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 50px;
}

.Why_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* ===========when_open_section================= */
.when_open_section {
    background-color: #FFFFFF;
}

.when_open_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.when_open_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.when_open_heading p {
    color: #E9B44C;
}

.when_open_heading h2 {
    color: #2E2622;
    font-size: 40px;
}

.when_open_table {
    width: 50%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border: 1px solid #2E2622;
}


tr:not(:last-child) td {
    border-bottom: 3px solid #2E2622;
}

th,
td {
    padding: 12px 15px;
}

th {
    background-color: #2E2622;
    font-weight: 600;
    color: #E9B44C;
}


tr:hover {
    background-color: #f1f1f1;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 2px solid #2E2622;
}

/* ===========shop_counter_section============= */
.shop_counter_section_bg img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.shop_counter_section_bg {
    position: relative;
}

.Container_overlay {
    position: absolute;
    bottom: 25px;
    left: 25px;
    background-color: rgb(255 255 255 /90%);
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 1px 2px 8px #7A6F63;
}

.Container_overlay p {
    color: #5A4F47;
    font-size: 14px;
}

.opening_time_overlay {
    position: absolute;
    right: 30px;
    top: 6%;
    width: 110px;
    height: 110px;
    background-color: rgb(255 255 255 /90%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 2px 10px #7A6F63;
}

.opening_time_overlay p:first-child {
    color: #2E2622;
    font-size: 25px;
    font-weight: 900;

}

.opening_time_overlay p:last-child {
    color: #7A6F63;
    font-size: 11px;
}

/* ===========footer_section============ */
.footer_section {
    background-color: #2E2622;
    padding-bottom: 20px !important;
}


.footer_info {
    display: flex;
    justify-content: space-between;
}

.logo_left {
    display: flex;
    gap: 10px;
}

.logo_left img {
    width: 30px;
}

.footer_menu p {
    color: #CFC6BB;
    margin-top: 10px;
}

.quick_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.quick_links h5 {
    margin-bottom: 10px;
    color: #E9B44C;
    font-size: 25px;
}

.quick_menu_list li a {
    color: #CFC6BB;
    transition: all0.3s ease;
}

.quick_menu_list li a:hover {
    color: #a59d9d;
}

.contact h5 {
    color: #E9B44C;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact address {
    color: #CFC6BB;
}

.copyright_section {
    margin-top: 100px;
    border-top: 1px solid #cfc6bb23;
    display: flex;
    justify-content: space-between;
}

.copyright_section .copy_right_text p {
    color: #CFC6BB;
    font-size: 14px;
}

.copy_right_text,
.social_icons {
    margin-top: 20px;
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #443C35;
    border-radius: 50%;
}